<jegyzi-title></jegyzi-title>
<div class="flex flex-col gap-20">
  <div class="flex gap-24">
    <div class="flex flex-col gap-6 w-[80%] bg-background-300 rounded-r-[200px] p-6">
      <div class="title">Jegyzetek</div>
      <!-- TODO: jegyzetek kilistázása -->
      <div class="text-heart-100 font-semibold text-lg">Nincs adat!</div>
    </div>
    <div class="flex flex-col justify-around">
      <a routerLink="/notes"><span class="btn-icon-nav ph ph-magnifying-glass" matTooltip="Jegyzetek böngészése"></span></a>
      <a routerLink="/new-note"><span class="btn-icon-nav ph ph-pencil-simple" matTooltip="Új jegyzet írása"></span></a>
    </div>
  </div>

  <div class="flex flex-row-reverse gap-24">
    <div class="flex flex-col gap-6 w-[80%] bg-background-300 rounded-l-[200px] pl-40 py-10 mr-0">
      <div class="title">Felhasználók</div>
      @if(profiles$ | async; as profiles) { @for (profile of profiles; track profile.id) {
      <div class="flex gap-8 rounded-3xl bg-background-200 p-6 items-center mr-20">
        <jegyzi-avatar [profile]="profile"></jegyzi-avatar>
        <div class="flex flex-col gap-1 text-primary-600">
          <div class="font-semibold mb-1">{{ profile | name }}</div>
          <div class="text-sm">{{ profile.profileType | noValue }}</div>
          <div class="text-sm">{{ profile | type }}</div>
          <div class="text-sm">Jegyzetek száma: 0</div>
        </div>
        <div class="flex flex-col mr-0 ml-auto justify-between h-full">
          <div class="relative w-8 h-8 text-center" matTooltip="Követők száma">
            <span class="ph-fill ph-heart ph-2x text-heart-100 text-center"></span>
            <span class="absolute text-white text-[12px] text-center w-8 left-0 top-1.5 font-semibold">{{ profile.followersNumber }}</span>
          </div>
          <a [routerLink]="'/profiles/' + profile.id" matTooltip="Profil megtekintése">
            <span class="btn-icon ph-bold ph-caret-right"></span>
          </a>
        </div>
      </div>
      } }
    </div>
    <div class="flex flex-col justify-around">
      <a routerLink="/profiles"><span class="btn-icon-nav ph ph-user" matTooltip="Felhasználók"></span></a>
      @if (user()){
      <button type="button" (click)="logout()"><span class="btn-icon-nav ph ph-sign-in" matTooltip="Kijelentkezés"></span></button>
      } @else {
      <a routerLink="/login"><span class="btn-icon-nav ph ph-sign-out" matTooltip="Bejelentkezés"></span></a>
      }
    </div>
  </div>
</div>
