<jegyzi-title></jegyzi-title>
<div class="flex flex-col gap-10 md:gap-20">
  @if(notes$ | async; as notes) {
  <div class="flex gap-24 animate-fade-right animate-delay-50 animate-ease-in">
    <div
      class="flex flex-col gap-6 w-full md:w-[80%] bg-background-300 rounded-r-[100px] md:rounded-r-[200px] pr-10 md:pr-40 pl-6 md:pl-20 py-6 md:py-10"
    >
      <div class="title">Népszerű Jegyzetek</div>

      <jegyzi-note-list [notes]="notes"></jegyzi-note-list>
    </div>
    <div class="hidden md:flex flex-col justify-around">
      <a routerLink="/notes" class="animate-fade animate-delay-50"
        ><span class="btn-icon-nav ph ph-magnifying-glass" matTooltip="Jegyzetek böngészése"></span
      ></a>
      <a [routerLink]="user() ? '/my-notes/new-note' : '/login'" class="animate-fade animate-delay-50"
        ><span
          class="btn-icon-nav ph ph-pencil-simple"
          [matTooltip]="user() ? 'Új jegyzet írása' : 'Jegyzet íráshoz be kell jelentkezned!'"
        ></span
      ></a>
    </div>
  </div>
  }

  <div class="flex flex-row-reverse gap-24 animate-fade-left animate-delay-500 animate-ease-in anit">
    @if(profiles$ | async; as profiles) {
    <div
      class="flex flex-col gap-6 w-full md:w-[80%] bg-background-300 rounded-l-[100px] md:rounded-l-[200px] pl-10 md:pl-40 pr-6 md:pr-20 py-10 md:py-10 mr-0"
    >
      <div class="title">Népszerű felhasználók</div>
      <jegyzi-profile-list [profiles]="profiles" />
    </div>
    <div class="hidden md:flex flex-col justify-around">
      <a class="animate-fade animate-delay-500" routerLink="/profiles"
        ><span class="btn-icon-nav ph ph-user" matTooltip="Felhasználók"></span
      ></a>
      @if (user()){
      <button type="button" (click)="logout()"><span class="btn-icon-nav ph ph-sign-in" matTooltip="Kijelentkezés"></span></button>
      } @else {
      <a class="animate-fade animate-delay-500" routerLink="/login"
        ><span class="btn-icon-nav ph ph-sign-out" matTooltip="Bejelentkezés"></span
      ></a>
      }
    </div>
    }
  </div>
</div>
