<button type="button" class="text-primary-600 absolute right-2 top-2" (click)="close()" matTooltip="Bezárás">
  <span class="ph-bold ph-x ph-xl"></span>
</button>
<form [formGroup]="form" (submit)="submit()">
  <div class="flex flex-col my-4 gap-4">
    <div class="flex flex-col gap-1">
      <span class="font-semibold text-xl text-primary-600 mx-4">Módosítási javaslat kezelése</span>
      <span class="text-primary-500 mx-4">Itt tudod módosítani a kiválasztott módosítási javaslatot</span>
    </div>

    <div class="w-full bg-background-200 rounded-t-3xl px-6 py-4">
      <div class="flex justify-between mb-4 font-medium">
        <span class="text-primary-500 text-xl"> {{ data.request.noteTitle }}</span>
        <span class="text-primary-500">{{ data.request.date | toDate | date : 'short' }}</span>
      </div>
      <div class="flex gap-x-4 items-center mb-2">
        <jegyzi-avatar [profileId]="data.request.creatorId" [profilPicEnabled]="data.request.creatorProfilPic"></jegyzi-avatar>
        <span class="text-primary-500 font-medium"> {{ data.request.creatorName }}</span>
        <jegyzi-modify-request-status-badge [seriusness]="data.request.seriousness" class="mr-0 ml-auto" />
      </div>
      <div class="mx-2 md:mx-10 bg-background-300 p-4 rounded-xl text-primary-500 min-h-20">
        {{ data.request.description }}
      </div>

      <mat-checkbox formControlName="status" class="mb-2">Elfogadod a módosítási kérést?</mat-checkbox>
      @if (!hideDeclineNote()) {
      <div class="form-control">
        <div class="label">Elutasítás indoka</div>
        <textarea
          matInput
          type="text"
          formControlName="declineNote"
          rows="3"
          [disabled]="!hideDeclineNote()"
          class="mx-2 md:mx-10"
        ></textarea>
      </div>
      }
    </div>
    <div class="flex justify-between mx-4 bottom-0">
      <button type="button" class="btn-secondary" (click)="close()">Mégsem</button>
      <button type="submit" class="btn-primary">Megerősítés</button>
    </div>
  </div>
</form>
