<input type="file" (change)="upload($event)" #fileUpload class="file-input" />
@if ( profile().profilePicture ) {
<div class="rounded-full bg-primary-200 relative ww">
  @if(profilePic() | async; as profilPic) {
  <div
    [ngClass]="{ 'w-20 h-20': size() === 'lg', 'w-12 h-12 ': size() === 'md' }"
    class="relative flex rounded-full items-center justify-center"
  >
    <img [ngSrc]="profilPic" alt="Profilkép" class="object-cover rounded-full" fill />
  </div>

  } @if(editable()){

  <button
    type="button"
    (click)="fileUpload.click()"
    class="absolute right-0 top-0 rounded-full bg-primary-600 px-1 text-primary-100"
    matTooltip="Profilkép cseréje"
  >
    <span class="ph ph-pencil-simple"></span>
  </button>

  }
</div>
} @else {
<div
  [ngClass]="{ 'w-20 h-20 bg-primary-200': size() === 'lg', 'w-12 h-12 bg-primary-100': size() === 'md' }"
  class="relative flex rounded-full items-center justify-center"
>
  <span [ngClass]="{'ph-3x': size() === 'lg', 'ph-2x': size() === 'md',}" class="ph ph-user text-primary-500"></span>
  @if(editable()){
  <button
    type="button"
    (click)="fileUpload.click()"
    class="absolute right-0 top-0 rounded-full bg-primary-600 px-1 text-primary-100"
    matTooltip="Profilkép feltöltése"
  >
    <span class="ph ph-pencil-simple"></span>
  </button>
  }
</div>
}
