<button type="button" class="text-primary-600 absolute right-2 top-2" (click)="close(false)" matTooltip="Bezárás">
  <span class="ph-bold ph-x ph-xl"></span>
</button>

<div class="flex flex-col my-4 gap-4">
  <div class="flex flex-col gap-1">
    <span class="font-semibold text-xl text-primary-600 mx-4">Felhasználói fiók törlése</span>
  </div>

  <div class="w-full bg-background-200 rounded-t-3xl px-6 py-4 flex flex-col gap-y-3 justify-center">
    <span class="text-heart-100 text-lg font-semibold text-center">Biztos vagy benne hogy törlöd a felhasználói fiókodat? </span>
    <span class="text-primary-600"
      >A Felhasználói fiók törlésével töröljük a rendszerből az adataidat és az általad készített módosítási kéréseket, de a jegyzeteid,
      hozzászólásaid, értékeléseid a nem kerülnek törlésre csak módosításra (Törölt felhasználó lesz a szerzőjük). Amennyiben szeretnéd
      ezeket is törölni, kérlek a fiókod törlése előtt töröld őket!</span
    >
  </div>
  <div class="flex justify-between mx-4 bottom-0">
    <button type="button" class="btn-secondary" (click)="close(false)">Mégsem</button>
    <button type="button" (click)="submit()" class="btn-primary">Törlés</button>
  </div>
</div>
