/*A webalkalmazásban használt ikonok méretére egyedi classok*/
.ph-xs {
  font-size: 0.75em;
}
.ph-sm {
  font-size: 0.875em;
}

.ph-lg {
  font-size: 1.3333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}

.ph-xl {
  font-size: 1.5em;
  line-height: 0.6666em;
  vertical-align: -0.075em;
}

.ph-1x {
  font-size: 1em;
}

.ph-2x {
  font-size: 2em;
}

.ph-3x {
  font-size: 3em;
}

.ph-4x {
  font-size: 4em;
}

.ph-login-x {
  font-size: 16em;
}
