// Select
.mat-mdc-select {
  --mat-select-enabled-trigger-text-color: theme("colors.primary.500");
  --mat-select-trigger-text-size: 14px;
  --mat-select-trigger-text-line-height: 20px;
  @apply bg-background-300 text-primary-500 rounded-2xl px-5 py-2;
}

.mat-mdc-select-arrow-wrapper {
  --mat-select-enabled-arrow-color: theme("colors.primary.500");
  height: 20px !important;
}

.mat-mdc-select-panel {
  --mat-select-panel-background-color: theme("colors.background.200");
}
.mat-mdc-option {
  --mat-option-label-text-color: theme("colors.primary.500");
  --mat-option-label-text-size: 14px;
  --mat-option-label-text-line-height: 20px;
  --mat-option-selected-state-label-text-color: theme("colors.primary.400");
}

.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after {
  width: 10px;
  height: 4px;
}
.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after,
.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-indeterminate::after {
  --mat-minimal-pseudo-checkbox-selected-checkmark-color: theme("colors.red.100");
}

// Modal
.mat-mdc-dialog-container {
  // relative - static needed to absolute position the close button outside the modal panel
  .mdc-dialog__container {
    @apply relative;

    .mdc-dialog__surface {
      // transition-none - the default transition is switched off because it animates the static setting and a horizontal scrollbar briefly shows on screen
      @apply static transition-none rounded-2xl bg-background-300;
    }
  }
}

ngx-skeleton-loader {
  .skeleton-loader {
    @apply rounded-2xl #{!important};
    @apply bg-background-loader #{!important};
  }
}

.mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: theme("colors.background.loader") !important;
}

.mat-date-range-input-container {
    @apply grid grid-cols-1 md:grid-cols-2  gap-x-3 gap-y-2 items-center #{!important}
}

.mat-date-range-input-wrapper {
  background-color: theme("colors.background.300");
  padding: 0.5rem 1.25rem;
  color: theme("colors.primary.500");
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 1rem;
  position: relative;
  width: 100%;
  justify-content: space-between;
}

.mat-date-range-input-wrapper {
    max-width: 100% !important;
}

.mat-date-range-input-inner {
    @apply px-4 py-2 w-auto #{!important};
}

.mat-date-range-input-separator {
    @apply hidden #{!important};
}

.mat-mdc-icon-button .mat-mdc-button-ripple {
  @apply hidden #{!important};
}

.mat-date-range-input-end-wrapper {
    flex-grow: 0; 
}
.mat-mdc-icon-button .mat-mdc-button-ripple,
.mat-mdc-icon-button .mat-mdc-button-persistent-ripple,
.mat-mdc-icon-button .mat-mdc-button-persistent-ripple::before {
  @apply hidden #{!important};
}

html {
  --mat-datepicker-calendar-container-background-color: theme("colors.background.loader");
  --mdc-icon-button-icon-color: theme("colors.primary.500");
  
  --mat-datepicker-calendar-date-selected-state-background-color: theme("colors.background.300")
  --mat-datepicker-calendar-date-today-selected-state-outline-color: theme("colors.background.300");
  --mat-datepicker-calendar-date-focus-state-background-color: theme("colors.background.300");
  --mat-datepicker-calendar-date-hover-state-background-color: theme("colors.background.300");
  --mat-datepicker-calendar-date-in-range-state-background-color: theme("colors.background.300");
  --mat-datepicker-calendar-date-in-comparison-range-state-background-color: theme("colors.background.300");
  --mat-datepicker-calendar-date-in-overlap-range-state-background-color:theme("colors.background.300");
  --mat-datepicker-calendar-date-in-overlap-range-selected-state-background-color:theme("colors.background.300")
   
  --mat-datepicker-calendar-date-selected-state-text-color:  theme("colors.primary.600");
  --mat-datepicker-calendar-body-label-text-color: theme("colors.primary.600");
  --mat-datepicker-calendar-period-button-text-color: theme("colors.primary.600");
  --mat-datepicker-calendar-period-button-icon-color: theme("colors.primary.600");
  --mat-datepicker-calendar-navigation-button-icon-color: theme("colors.primary.600");
  --mat-datepicker-calendar-header-text-color: theme("colors.primary.600");
  --mat-datepicker-calendar-date-text-color: theme("colors.primary.600");
  --mat-datepicker-calendar-date-selected-state-text-color: theme("colors.primary.100");

}
