<button type="button" class="text-primary-600 absolute right-2 top-2" (click)="close()" matTooltip="Bezárás">
  <span class="ph-bold ph-x ph-xl"></span>
</button>
<div class="flex flex-col my-4 gap-4">
  <div class="flex flex-col gap-1">
    <span class="font-semibold text-xl text-primary-600 mx-4">Új jelszó igénylés</span>
    <span class="text-primary-500 mx-4"
      >Új jelszó igényléséhez megerősítő e-mailt küldünk az e-mail címedre, amelyet itt tudsz megadni.
    </span>
  </div>

  <div class="w-full bg-background-200 rounded-t-3xl px-6 py-4 justify-center">
    <form [formGroup]="form">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-y-0 md:gap-8">
        <div class="form-control">
          <div class="label">E-mail cím</div>
          <input matInput type="email" formControlName="email" />
        </div>
      </div>
    </form>
  </div>
  <div class="flex justify-end mx-4">
    <button type="button" class="btn-secondary w-min btn-small" (click)="submit()">Tovább</button>
  </div>
</div>
