<jegyzi-title></jegyzi-title>
<div class="flex h-auto md:h-screen justify-around">
  <div class="w-1/6 h-1/3 bg-background-300 rounded-r-[64px] relative mt-40 hidden md:block">
    <div class="absolute left-1/3 bottom-1/3 animate-fade">
      <div class="w-fit p-6 bg-background-200 rounded-[42px] relative">
        <span class="ph ph-student ph-login-x text-primary-500"></span>
      </div>
      <div
        class="w-fit p-4 bg-background-600 rounded-2xl absolute left-8 -bottom-6 animate-fade-up animate-duration-1000 animate-delay-500"
      >
        <span class="ph ph-pencil ph-4x text-primary-200"></span>
      </div>
      <div
        class="w-fit p-4 bg-background-600 rounded-2xl absolute -left-8 -top-8 animate-fade-down animate-duration-1000 animate-delay-100"
      >
        <span class="ph ph-books ph-4x text-primary-200"></span>
      </div>
      <div
        class="w-fit p-4 bg-background-600 rounded-2xl absolute -right-10 bottom-auto top-1/3 animate-fade-left animate-duration-1000 animate-delay-300"
      >
        <span class="ph ph-heart ph-4x text-primary-200"></span>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-10 w-full md:w-1/3 self-start mx-6 md:mx-auto">
    <div class="bg-background-200 rounded-3xl px-10 py-6 animate-fade-left animate-delay-100">
      <form [formGroup]="loginForm" (submit)="login()">
        <div class="form-control">
          <div class="label">E-mail cím</div>
          <input matInput type="text" formControlName="email" />
          @if(loginForm.controls.email.invalid && loginForm.controls.email.touched) {
          <div class="text-heart-100 text-sm">Nem adtál meg e-mail címet, vagy az általad megadott e-mail cím hibás!</div>
          }
        </div>

        <div class="form-control">
          <div class="label">Jelszó</div>
          <input matInput type="password" formControlName="password" />
          @if(loginForm.controls.password.invalid && loginForm.controls.password.touched) {
          <div class="text-heart-100 text-sm">Jelszó megadása kötelező!</div>
          }
        </div>
        <div class="flex justify-between">
          <button class="underline text-primary-600" type="button" (click)="forgotPassword()">Elfelejtettem a jelszavam</button>
          <button class="btn-primary" type="submit">Belépés</button>
        </div>
      </form>
    </div>

    <div class="flex justify-between p-6 md:p-10 bg-background-200 rounded-3xl items-center mb-6 animate-fade-left animate-delay-300">
      <div class="text-primary-500 font-semibold">Nincs fiókod?</div>
      <button type="button" class="btn-secondary cursor-pointer" (click)="register()">Regisztráció</button>
    </div>
  </div>
</div>
