<div class="flex flex-col gap-20 m-10">
    @if(profile) {
        <div class="flex items-center justify-between w-full">
            <div class="flex gap-6 items-center">
                <jegyzi-avatar [profile]="profile" size="lg" [editable]="true"></jegyzi-avatar>
                
                <div class="font-semibold text-primary-500 text-2xl">{{profile | name }}</div>
            </div>
            <div class="flex gap-4 items-center">
                <div class="bg-background-200 text-primary-600 font-semibold px-4 py-1 rounded-full" matTooltip="Felhasználó típusa">
                    {{profile.profileType}}
                </div>
                @if(followedUser(); as followedUser){
                    <button type="button" (click)="unFollow()" class="relative w-8 h-8 text-center" matTooltip="Felhasználó kikövetése">
                        <span class="ph-fill ph-heart ph-2x text-red-100 text-center"></span>
                        <span class="absolute text-white text-[12px] text-center w-8 left-0 top-1.5 font-semibold">{{profile.followersNumber}}</span>
                    </button>
                }
                @else {
                    <button type="button" (click)="follow()" class="relative w-8 h-8 text-center" matTooltip="Felhasználó követése">
                        <span class="ph ph-heart ph-2x text-red-100 text-center"></span>
                        <span class="absolute text-red-100 text-[12px] text-center w-8 left-0 top-1.5 font-semibold">{{profile.followersNumber}}</span>
                    </button>
                }
            </div>
        </div>
        <div class="grid grid-cols-2 gap-20">
            <div class="flex flex-col rounded-3xl bg-background-200 p-6 gap-4 ">
                <span class="text-primary-600 text-xl font-semibold">Adatok</span>
                <div class="flex flex-col ">
                    <span class="text-primary-300">Email cím</span>
                    <span class="text-primary-500">{{profile.email}}</span>
                </div>
                @if(profile.education){
                    <div class="flex flex-col ">
                        <span class="text-primary-300">Intézmény</span>
                        <span class="text-primary-500">
                            {{profile.education.institution}}
                            {{profile.education.institution}} 
                            @if(profile.education.type) {
                                ({{profile.education.type}})
                            }
                        </span>
                    </div>
                    <div class="flex flex-col ">
                        <span class="text-primary-300">Évfolyam</span>
                        <span class="text-primary-500">{{profile.education.year}}</span>
                    </div>
                    <div class="flex flex-col ">
                        <span class="text-primary-300">Szak, Specializáció</span>
                        <span class="text-primary-500">{{profile.education.specialization}}</span>
                    </div>
                }
            </div>
            @if(profile.introduction){
                <div class="flex flex-col rounded-2xl bg-background-200 p-6 gap-4 ">
                    <span class="text-primary-600 text-xl font-semibold">Bemutatkozás</span>
                    <span class="text-primary-500">{{profile.introduction}}</span>
                </div>
            }
        </div>
        <div class="flex flex-col gap-4">
            <div class="flex items-center gap-6">
                <span class="text-[28px] text-primary-500 font-semibold">Jegyzetek</span>
                <hr class=" border border-background-300 w-full h-min"/>
            </div>
            <!-- TODO: Jegyzetek lista-->
            <div class="text-red-100 font-semibold text-lg">Nincsenek még a felhasználónak jegyzetei!</div>
        </div>
    }
</div>
