<button type="button" class="text-primary-600 absolute right-2 top-2" (click)="close()" matTooltip="Bezárás">
  <span class="ph-bold ph-x ph-xl"></span>
</button>
<div class="flex flex-col my-4 gap-4">
  <div class="flex flex-col gap-1">
    <span class="font-semibold text-xl text-primary-600 mx-4">Regisztráció</span>
    <span class="text-primary-500 mx-4">Itt tudod megadni a regisztrációhoz szükséges adatokat</span>
  </div>

  <div class="w-full bg-background-200 rounded-t-3xl px-6 py-4">
    <form [formGroup]="form">
      @if(actualStep === 0) {
      <div class="flex flex-col gap-1 mb-6">
        <span class="font-semibold text-xl text-primary-600">Kötelező adatok</span>
        <span class="text-primary-500">Itt található mezők kitöltése kötelező!</span>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-y-0 md:gap-8">
        <div class="form-control">
          <div class="label">Email cím</div>
          <input matInput type="email" formControlName="email" />
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-y-0 md:gap-8">
        <div class="form-control">
          <div class="label">Jelszó</div>
          <input matInput type="password" formControlName="password" />
        </div>
        <div class="form-control">
          <div class="label">Megerősítő jelszó</div>
          <input matInput type="password" formControlName="passwordConfirm" />
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-y-0 md:gap-8">
        <div class="form-control">
          <div class="label">Vezetéknév</div>
          <input matInput type="text" formControlName="lastName" />
        </div>
        <div class="form-control">
          <div class="label">Keresztnév</div>
          <input matInput type="text" formControlName="firstName" />
        </div>
      </div>
      @if(this.form.controls.email.invalid && this.form.controls.email.touched) {
      <span class="text-heart-100 font-semibold text-sm">Létező email cím megadása kötelező!</span>
      } @if((this.form.controls.password.invalid && this.form.controls.password.touched) || (this.form.controls.passwordConfirm.invalid &&
      this.form.controls.passwordConfirm.touched)) {
      <span class="text-heart-100 font-semibold text-sm">Jelszó megadása kötelező (minimum 6 karakter)!</span>
      } @else { @if(this.form.controls.password.value !== this.form.controls.passwordConfirm.value && ( this.form.controls.password.touched
      && this.form.controls.passwordConfirm.touched)) {
      <span class="text-heart-100 font-semibold text-sm">Jelszavak nem egyeznek meg!</span>
      } } } @else if(actualStep === 1){
      <div class="flex flex-col gap-1 mb-6">
        <span class="font-semibold text-xl text-primary-600">Kiegészítő adatok</span>
        <span class="text-primary-500">Az itt található mezőket üresen hagyhatod, bármikor tudod őket módosítania profil oldaladon.</span>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2">
        <div class="form-control">
          <div class="label">Profil típusa</div>
          <mat-select formControlName="profileType">
            <mat-option [value]="profileTypes.student">{{ profileTypes.student }}</mat-option>
            <mat-option [value]="profileTypes.teacher">{{ profileTypes.teacher }}</mat-option>
            <mat-option [value]="profileTypes.other">{{ profileTypes.other }}</mat-option>
          </mat-select>
        </div>
      </div>

      @if(!this.form.controls.profileType.value) {
      <div class="grid grid-cols-1 md:grid-cols-2 gap-y-0 md:gap-8 my-0 md:my-6">
        <ngx-skeleton-loader [theme]="{height: '36px',}" />
        <ngx-skeleton-loader [theme]="{height: '36px',}" />
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-y-0 md:gap-8 my-0 md:my-6">
        <ngx-skeleton-loader [theme]="{height: '36px',}" />
        <ngx-skeleton-loader [theme]="{height: '36px',}" />
      </div>

      } @else { @switch (this.form.controls.profileType.value) { @case (profileTypes.student) {
      <div formGroupName="education">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-y-0 md:gap-8">
          <div class="form-control">
            <div class="label">Intézmény neve</div>
            <input matInput type="text" formControlName="institution" />
          </div>
          <div class="form-control">
            <div class="label">Intézmény típusa</div>
            <mat-select formControlName="type" class="w-full">
              <mat-option [value]="educationTypes.primary">{{ educationTypes.primary }}</mat-option>
              <mat-option [value]="educationTypes.secondary">{{ educationTypes.secondary }}</mat-option>
              <mat-option [value]="educationTypes.upper">{{ educationTypes.upper }}</mat-option>
              <mat-option [value]="educationTypes.university">{{ educationTypes.university }}</mat-option>
            </mat-select>
          </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-y-0 md:gap-8">
          <div class="form-control">
            <div class="label">Évfolyam</div>
            <input matInput type="number" formControlName="year" />
          </div>
          <div class="form-control">
            <div class="label">Szak, specializáció</div>
            <input matInput type="text" formControlName="specialization" />
          </div>
        </div>
      </div>

      } @case(profileTypes.teacher) {
      <div formGroupName="education">
        <div class="gridgrid-cols-1 md:grid-cols-2 gap-y-0 md:gap-8">
          <div class="form-control">
            <div class="label">Intézmény neve</div>
            <input matInput type="text" formControlName="institution" />
          </div>
          <div class="form-control">
            <div class="label">Intézmény típusa</div>
            <mat-select formControlName="type" class="w-full">
              <mat-option [value]="educationTypes.primary">{{ educationTypes.primary }}</mat-option>
              <mat-option [value]="educationTypes.secondary">{{ educationTypes.secondary }}</mat-option>
              <mat-option [value]="educationTypes.upper">{{ educationTypes.upper }}</mat-option>
              <mat-option [value]="educationTypes.university">{{ educationTypes.university }}</mat-option>
            </mat-select>
          </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-y-0 md:gap-8">
          <div class="form-control">
            <div class="label">Tanítás ideje (év)</div>
            <input matInput type="number" formControlName="year" />
          </div>
          <div class="form-control">
            <div class="label">Tanított tárgy, tárgyak</div>
            <input matInput type="text" formControlName="specialization" />
          </div>
        </div>
      </div>
      } @case(profileTypes.work) {
      <div formGroupName="work">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-y-0 md:gap-8">
          <div class="form-control">
            <div class="label">Munkahely neve</div>
            <input matInput type="text" formControlName="workPlace" />
          </div>
          <div class="form-control">
            <div class="label">Munkahely típusa</div>
            <input matInput type="text" formControlName="type" />
          </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-y-0 md:gap-8">
          <div class="form-control">
            <div class="label">Alkalmazás ideje (év)</div>
            <input matInput type="number" formControlName="year" />
          </div>
          <div class="form-control">
            <div class="label">Munkakör</div>
            <input matInput type="text" formControlName="position" />
          </div>
        </div>
      </div>

      } @case(profileTypes.other) {
      <div formGroupName="other">
        <div class="form-control">
          <div class="label">Leírás</div>
          <textarea matInput type="text" formControlName="description" rows="4"></textarea>
        </div>
      </div>

      }} } } @else if(actualStep === 2) {
      <div class="flex flex-col gap-1 mb-6">
        <span class="font-semibold text-xl text-primary-600">Ki is vagy te?</span>
        <span class="text-primary-500"
          >Bemutatkozó szöveg és profil kép megadása nem kötelező, ezt is bármikor módosíthatod a profil oldaladon.</span
        >
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-x-10">
        <div class="form-control h-full col-span-2">
          <div class="label">Bemutatkozás</div>
          <textarea matInput type="text" formControlName="introduction" rows="6"></textarea>
        </div>
        <div class="h-full form-control mx-auto">
          <div class="label">Profil kép</div>
          @if(loading()) {
          <div class="flex items-center justify-center w-32 h-32">
            <mat-spinner></mat-spinner>
          </div>
          } @else if(profilPicSrc()) {
          <div class="relative flex rounded-full items-center justify-center w-32 h-32">
            <img [src]="profilPicSrc()" alt="Profilkép" class="object-cover rounded-full w-32 h-32" />
            <button
              type="button"
              (click)="deletePic()"
              class="absolute right-1 top-0 rounded-full bg-primary-600 px-1 text-primary-100"
              matTooltip="Profilkép törlése"
            >
              <span class="ph ph-trash"></span>
            </button>
          </div>

          } @else {
          <button class="realtive flex rounded-full items-center justify-center w-32 h-32 bg-primary-100" (click)="fileUpload.click()">
            <span class="ph ph-user ph-4x text-primary-500"></span>
          </button>

          }
        </div>
      </div>

      } @else {
      <div class="flex w-full items-center justify-center h-80">
        <mat-spinner></mat-spinner>
      </div>
      }
    </form>
  </div>
  <div class="flex justify-between mx-4 bottom-0">
    <button type="button" class="btn-secondary w-min btn-small" (click)="prew()">{{ actualStep === 0 ? 'Mégsem' : 'Előző' }}</button>
    <div class="flex gap-2 items-center">
      @for(step of steps; track step){
      <div class="w-3 h-3 rounded-full bg-background-200" [ngClass]="{ 'bg-background-600': step === actualStep }"></div>
      }
    </div>
    <button type="submit" class="btn-primary w-min btn-small" (click)="next()">
      {{ actualStep === this.steps.length - 1 ? 'Megerősítés' : 'Következő' }}
    </button>
  </div>
</div>

<input type="file" (change)="uploadProfilPic($event)" #fileUpload class="file-input" />
