<div class="my-6 lg:my-10">
  @if (note(); as note) {
  <div class="mx-4 lg:mx-10">
    <div class="flex flex-col lg:flex-row gap-y-4 lg:gap-y-0 items-center justify-start lg:justify-between w-full">
      <div
        class="flex gap-x-4 items-center w-full lg:w-auto bg-background-200 lg:bg-transparent rounded-full lg:rounded-none animate-fade-right"
      >
        <jegyzi-avatar [profileId]="note.creatorId" size="lg" [editable]="false" [link]="'/profiles/' + note.creatorId"></jegyzi-avatar>

        @if (loggedInUser() && loggedInUser()?.id !== note.creatorId) { @if (followedNote(); as followedNote) {}
        <button
          type="button"
          (click)="followedNote() ? unFollow() : follow()"
          class="relative w-8 h-8 text-center"
          [matTooltip]="followedNote() ? 'Jegyzet kikövetése' : 'Jegyzet követése'"
        >
          <span class="ph-heart ph-2x text-heart-100 text-center" [ngClass]="[followedNote() ? 'ph-fill' : 'ph']"></span>
          <span
            class="absolute text-[12px] text-center w-8 left-0 top-1.5 font-semibold"
            [ngClass]="[followedNote() ? 'text-white' : 'text-heart-100']"
            >{{ note.followersNumber }}</span
          >
        </button>
        } @else {
        <div class="relative w-8 h-8 text-center" matTooltip="Jegyzet követői">
          <span class="ph-fill ph-heart ph-2x text-heart-100 text-center"></span>
          <span class="absolute text-white text-[12px] text-center w-8 left-0 top-1.5 font-semibold">{{ note.followersNumber }}</span>
        </div>
        }
        <div class="font-semibold text-primary-500 text-2xl">{{ note.title }}</div>
      </div>

      <div
        class="flex gap-x-4 justify-between lg:justify-normal items-center w-full lg:w-auto mx-2 lg:mx-0 animate-fade-right lg:animate-fade-left animate-delay-75 lg:animate-delay-0"
      >
        <div class="text-primary-600 font-semibold hidden lg:block">
          Utoljára módosítva: {{ (note.lastModify ? note.lastModify : note.created) | toDate | date : 'short' }}
        </div>
        @if (note.avarageStar) {
        <jegyzi-rating-component [currentRate]="note.avarageStar" [disabled]="true" (selectRate)="(undefined)"></jegyzi-rating-component>

        <button class="btn-icon relative" (click)="modifyRequest()" matTooltip="Módosítási kérés küldése">
          <span class="ph ph-warning text-center"></span>
          @if (note.numberOfUpdateRequests > 0) {
          <div class="absolute -top-2 left-5 rounded-full bg-heart-100 w-min h-min text-[16px] px-1 text-white">
            {{ note.numberOfUpdateRequests }}
          </div>
          }
        </button>
        }
      </div>
      <div class="flex gap-x-4 justify-between items-center w-full lg:hidden mx-2 animate-fade-right animate-delay-100">
        <div class="text-primary-600 font-semibold self-start">
          Módosítva: {{ (note.lastModify ? note.lastModify : note.created) | toDate | date : 'short' }}
        </div>
        @if (!note.avarageStar) {
        <button class="btn-icon relative" (click)="modifyRequest()" matTooltip="Módosítási kérés küldése">
          <span class="ph ph-warning text-center"></span>
          @if (note.numberOfUpdateRequests) {
          <div class="absolute -top-2 left-5 rounded-full bg-heart-100 w-min h-min text-[16px] px-1 text-white">
            {{ note.numberOfUpdateRequests }}
          </div>
          }
        </button>
        }
      </div>
    </div>
    <div class="my-6">
      <div class="flex flex-wrap gap-y-2 gap-x-4 animate-delay-150 lg:animate-delay-75">
        @for (label of note.labels; track label.label.id) {
        <div class="note-label">{{ label.label.value }}</div>
        }
      </div>
    </div>
  </div>

  <div class="flex flex-col lg:flex-row gap-y-6 lg:gap-x-20 py-2 rounded-2xl">
    <div class="basis-full md:mr-10 lg:basis-3/4 animate-fade-right animate-delay-200">
      <div class="mx-4 lg:mx-10 font-semibold text-primary-600 text-xl mb-3">{{ note.subTitle }}</div>
      <quill-editor class="w-full" [formControl]="noteForm"> </quill-editor>
      <div class="font-semibold text-primary-600 my-3 mx-6 mb-10">Létrehozva: {{ note.created | toDate | date : 'short' }}</div>

      @if(loggedInUser()) {
      <div class="mx-4 lg:ml-10">
        <mat-accordion class="jegyzi-accordion w-full">
          <mat-expansion-panel hideToggle #example>
            <mat-expansion-panel-header>
              <div class="flex justify-between items-center w-full">
                <span class="text-lg text-primary-600"> Példafeladatok </span>

                <span
                  class="ph text-2xl text-primary-500"
                  aria-hidden="true"
                  [ngClass]="example.expanded ? 'ph-caret-up' : 'ph-caret-down'"
                ></span>
              </div>
            </mat-expansion-panel-header>

            @if(currentExample() === null) { @if(exampleGenerateInProgress() === true) {
            <div class="flex flex-col gap-y-2 w-4/5">
              <ngx-skeleton-loader [theme]="{ height: '32px' }" />
              <ngx-skeleton-loader [theme]="{ height: '32px' }" />
              <ngx-skeleton-loader [theme]="{ height: '32px', width: '50%' }" />
            </div>
            } @else {
            <div class="flex flex-col lg:flex-row items-center justify-between gap-y-4">
              <div class="flex gap-x-2 items-center">
                <img [src]="'./assets/logo/google-gemini-icon.png'" alt="Gemini logo" width="24" height="24" />
                <span class="text-primary-600"> Generálj példafeladatokat a beépített Gemini Ai-al! </span>
              </div>

              <button type="button" class="btn-primary" (click)="generateExample(currentExample()?.session)">Új feladata generálás</button>
            </div>
            } } @else {
            <div class="flex flex-col gap-y-1">
              <div class="flex items-center gap-x-4">
                <span class="text-lg font-medium">Feladatok</span>
                <hr class="border border-background-300 h-min flex-grow" />
              </div>

              <markdown [data]="currentExample()?.resultText" class="p-4"></markdown>

              <div class="flex gap-x-6 gap-y-1" [ngClass]="[currentAnswers() === null ? 'flex-col ' : 'flex-col-reverse']">
                @if(answerGenerateInProgress() === true){
                <div class="flex flex-col gap-y-2 w-4/5 mt-4">
                  <ngx-skeleton-loader [theme]="{ height: '32px' }" />
                  <ngx-skeleton-loader [theme]="{ height: '32px' }" />
                  <ngx-skeleton-loader [theme]="{ height: '32px', width: '50%' }" />
                </div>
                } @else {
                <div class="flex flex-col lg:flex-row gap-y-2 lg:justify-between">
                  <button
                    type="button"
                    class="btn-primary flex items-center justify-center gap-x-1"
                    (click)="generateExample(currentExample()?.session)"
                  >
                    <span class="ph-fill ph-xl ph-arrows-clockwise"></span> <span>Új feladat generálása</span>
                  </button>
                  @if(currentAnswers() == null){
                  <button type="button" class="btn-secondary flex items-center justify-center gap-x-1" (click)="generateAnswers()">
                    <span class="ph ph-xl ph-check-circle"></span>
                    <span>Mutasd a választ</span>
                  </button>
                  }
                </div>
                } @if(currentAnswers() !== null){

                <markdown [data]="currentAnswers()" class="p-4"></markdown>
                <div class="flex items-center gap-x-4">
                  <span class="text-lg font-medium">Válaszok</span>
                  <hr class="border border-background-300 h-min flex-grow" />
                </div>
                }
              </div>
            </div>
            }
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      }
    </div>
    <div
      class="flex flex-col gap-y-10 basis-full md:mx-10 lg:basis-1/4 mx-4 lg:mx-10 animate-fade-right lg:animate-fade-left animate-delay-300 lg:animate-delay-200"
    >
      <jegyzi-note-review [note]="note" [loggedInUser]="loggedInUser()" (refreshReview)="refreshReview($event)"> </jegyzi-note-review>
      <jegyzi-note-comment [note]="note" [loggedInUser]="loggedInUser()" (refreshComment)="refreshComment($event)"></jegyzi-note-comment>
    </div>
  </div>

  }
</div>
