<button type="button" class="text-primary-600 absolute right-2 top-2" (click)="close()" matTooltip="Bezárás">
  <span class="ph-bold ph-x ph-xl"></span>
</button>
@if(notification() | async; as notification) {

<div class="flex flex-col my-4 gap-4">
  <div class="flex flex-col gap-3">
    <div class="flex items-center gap-x-2 mx-4 text-xl text-primary-600">
      <span
        class="ph ph-xl"
        [ngClass]="[notification.new ? 'ph-envelope ' : 'ph-envelope-open']"
        [matTooltip]="notification.new ? 'Olvasatlan' : 'Olvasott'"
      ></span>
      <span class="font-semibold">{{ notification.date | toDate | date : 'shortDate' }}</span>
    </div>
  </div>

  <div class="w-full bg-background-200 rounded-t-3xl px-6 py-4 flex flex-col gap-y-4 text-primary-500">
    <span class="text-lg font-semibold">{{ notification.title }}</span>
    <span>{{ notification.description }}</span>
    @if(notification.linkedEntityId) { @switch(notification.type) { @case (type.COMMENT) {
    <div class="flex justify-between items-center">
      <span>Tekintsd meg a jegyzetet és a hozzászólást</span>
      <button type="button" class="btn-icon" (click)="navigate('/notes/' + notification.linkedEntityId)">
        <span class="ph ph-caret-right"></span>
      </button>
    </div>

    } @case (type.REVIEW) {
    <div class="flex justify-between items-center">
      <span>Tekintsd meg a jegyzetet és az értékelést</span>
      <button type="button" class="btn-icon" (click)="navigate('/notes/' + notification.linkedEntityId)">
        <span class="ph ph-caret-right"></span>
      </button>
    </div>

    } @case (type.NEW_FOLLOWER) {
    <div class="flex justify-between items-center">
      <span>Tekintsd meg az új követődet</span>
      <button type="button" class="btn-icon" (click)="navigate('/profiles/' + notification.linkedEntityId)">
        <span class="ph ph-caret-right"></span>
      </button>
    </div>

    } @case (type.NEW_NOTE) {
    <div class="flex justify-between items-center">
      <span>Tekintsd meg az új jegyzetet</span>
      <button type="button" class="btn-icon" (click)="navigate('/notes/' + notification.linkedEntityId)">
        <span class="ph ph-caret-right"></span>
      </button>
    </div>

    } @case (type.MODIFY_REQUEST) {
    <div class="flex justify-between items-center">
      <span>Tekintsd meg az új módosítási kérést</span>
      <button type="button" class="btn-icon" (click)="navigate('/my-notes/modify-request')">
        <span class="ph ph-caret-right"></span>
      </button>
    </div>

    }} }
  </div>
  <div class="flex justify-between mx-4">
    <button type="button" class="btn-secondary" (click)="deleteNotification(notification.id)">Értesítés törlése</button>
    <button type="button" (click)="setStatus(notification.new, notification.id)" class="btn-primary">
      {{ notification.new ? 'Olvasattra állítás ' : 'Olvasatlanra állítás' }}
    </button>
  </div>
</div>
} @else {
<div class="flex w-full items-center justify-center h-80">
  <mat-spinner></mat-spinner>
</div>
}
