<div class="flex justify-between bg-background-300 items-center">
  <a routerLink="/home">
    <img src="../../../../assets/logo/logo_brown.svg" alt="Jegyzi logó" class="h-20 object-contain">
  </a>

  <div class="flex gap-4 text-font-500 font-medium">
    <a routerLink="/notes" routerLinkActive="active">Jegyzetek</a>
    <a routerLink="/users" routerLinkActive="active">Profilok</a>
    <a routerLink="/login" routerLinkActive="active">Belépés</a>
    <a routerLink="/signup" routerLinkActive="active">Regisztráció</a>
  </div>

  <div>
  <jegyzi-switch-button></jegyzi-switch-button>
  </div>
</div>
<router-outlet></router-outlet>
